
@font-face {
    font-family: kaffmedium;
    src:url(../css/29LT\ Kaff-Medium.OTF);
    font-style: normal;
}
@font-face {
    font-family: kafflight;
    src:url(../css/29LT\ Kaff-Light.OTF);
    font-style: normal;
}
@font-face {
    font-family: kaffbold;
    src:url(../css/29LT\ Kaff-Bold.OTF);
    font-style: normal;
}
@font-face {
    font-family: kaffregular;
    src:url(../css/29LT\ Kaff-Regular.OTF);
    font-style: normal;
}
*{
box-sizing:border-box;
font-family: kaff;
font-weight: bold;
}

html,body{
margin:0;
padding:0;
width:100%;
height:100%;
font-family: kaff;
}
.container{
width:89%;
max-width:100%;
}
.high-five3{
height:30px;
}
.logo{
height:50px;
position:relative;
display:flex;
cursor:pointer;
}
.btn{
background-color:#FADC2F;
border:none;
border-radius:2px;
padding:0 20px;
font-family: kafflight;
font-weight:600;
font-size: 15;
width:70px;
height: 20px;
color: black;
}


.headerb{
    margin: 2px 2px 2px 2px;
}
 .btn:hover ,.btn:focus , .btn:active{
color:black;
background-color:#FADC2F; 
outline:0;
}
.box3alamak{
right:15px;
position:absolute;
top:77px;
z-index:2;
background-color:#fff;
box-shadow:2px 2px 3px 1px #f5f4f4;
padding:10px;
width:17%;
display: none;
}
.box3alamak .dashedBorder{
border:2px dashed #b1b3b5;
display:flex;
flex-direction:column;
align-items:center;
}
.box3alamak .dashedBorder .button{
margin-top:10px;
}
.box3alamak .dashedBorder .button .item{
display:flex;
justify-content:center;

}
.box3alamak .dashedBorder .addimg{
margin-top:5px;
margin-right:10;
margin-bottom:5px;
}
.triangle-with-shadow{
width:100px;
height:80px;
position:absolute;
overflow:hidden;
top:-2px;
right:90px;
z-index:3;
}
.triangle-with-shadow:after{
content:"";
position:absolute;
width:50px;
height:50px;
background:#fff;
transform:rotate(45deg);
top:75px;
left:25px;
box-shadow:-1px -1px 1.5px -2px rgba(0,0,0,0.5);
z-index:2;
}
#home .header{
display:flex;
justify-content:center;
border-bottom:0.5px solid #B2B5B7;
margin-bottom:15px;
height:60px;
align-items:center;
}
#home .header .holders{
display:flex;
justify-content:space-between;
align-items:center;
}
#home .header .holders .title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#home .header .holders .logout{
position:absolute;
top:45px;
z-index:2;
left:-82px;
}
#home .header .holders .logout .pic{
    width: 215px;
    position: absolute;
    left: 97px;
    display: none;
    cursor: pointer;
}
#home .body{
display:flex;
justify-content:center;
}
#home .body .holders{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:6px;
}
#home .body .holders .item{
width:25%;
border:1px solid #9DA4AB;
border-radius:10px;
margin-bottom:30px;
}
#home .body .holders .item.itemWidth50{
width:45%;
}
#home .body .holders .item .pic{
width:100%;
height:200px;
background-color:#737B7F;
border-radius:10px 10px 0px 0px;
position:relative;
}
#home .body .holders .item .pic .icon{
width:35px;
height:35px;
background-color:#08a050;
border-radius:50%;
position:absolute;
top:184px;
left:20;
}
#home .body .holders .item .pic .icon.color50{
background-color:#00b3c3;
}
#home .body .holders .item .pic .icon.color25y{
background-color:#FADC2F;
}
#home .body .holders .item .div2{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C9CDD3;
}
#home .body .holders .item .div2 .title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#home .body .holders .item .div2 .day{
    font-size: 16px;
    text-align: right;
    color: silver;
    padding: 5px;
    font-weight: bold;
}
#home .body .holders .item .div3{
display:flex;
justify-content:space-between;
padding:18px 0px;
margin-top: -5px;
margin-bottom: -10px;
}
#home .body .holders .item .div3 .button{
margin-left:10px;
font-family: kafflight;
}
#home .body .holders .item .div3 .rightSide{
display:flex;
}
#home .body .holders .item .div3 .rightSide .count{
padding-right:6px;
padding-top:5px;
color:#c7c2c2;
}


.title p {
  
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: kafflight;
}


#aalamak{
    font-weight: bold;
    color: #9DA4AB;
    box-shadow: 2px 2px 4px #B2B5B7;
    height: 35px;
    width: 115px;
    border-radius: 7px;
    text-align: center;
    background-color: #FFDE17;
    border: none;
    font-size: 21px;
    font-family: kafflight;
    cursor: pointer;
}