
*{
box-sizing:border-box;
/*font-weight: bold;*/
}
@font-face {
    font-family: kaffmedium;
    src:url(../css/29LT\ Kaff-Medium.woff);
    font-style: normal;
}
@font-face {
    font-family: kafflight;
    src:url(../css/29LT\ Kaff-Light.woff);
    font-style: normal;
}
@font-face {
    font-family: kaffbold;
    src:url(../css/29LT\ Kaff-Bold.woff);
    font-style: normal;
}
@font-face {
    font-family: kaffregular;
    src:url(../css/29LT\ Kaff-Regular.OTF);
    font-style: normal;
}
@font-face {
    font-family: MyriadArabicBold;
    src:url(../css/29LT\ MyriadArabic-Bold.woff);
    font-style: normal;
}
@font-face {
    font-family: MAR;
    src:url(../css/29LT\ bahij_myriad_arabic-regular-webfont.woff2);
    font-style: normal;
}
@font-face {
    font-family: myrandpro;
    src:url(../css/29LT\ Myriad Pro Regular.ttf);
    font-style: normal;
}

html,body{
margin:0;
padding:0;
width:100%;
height:100%;
font-family: kaff;
}

.container{
width:89%;
max-width:100%;
}

#home .header{
display:flex;
justify-content:center;
border-bottom:0.2px solid #9DA4AB;
height:97px;
align-items:center;
background-color: #FFDE17;
}

#home .header .holders{
display:flex;
justify-content:space-between;
align-items:center;

}

#logo{
height:75px;
position:relative;
display:flex;
cursor:pointer;
}
#logo1{height:75px;
position:relative;
display:flex;
cursor:pointer;}

.h3c{
 display:flex;
justify-content: center;
align-items: center;
width: 500px;
color:#58595B;
font-family: kafflight;
}

.hh3{
 position: relative;
display: flex;
cursor: pointer;
padding-left: 20px;
padding-right: 20px;
border-left: 1px solid #9DA4AB;
font-family: kafflight;
}
#fh3{
    border-left: none;
}
.headerbtn{
font-weight: bold;
color: #FFDE17;
box-shadow: 2px 2px 4px #B2B5B7;
height: 35px;
width: 115px;
border-radius: 7px;
text-align: center; 
background-color:#9DA4AB;
border: none;
font-size: 21px;
    font-family: kafflight;
}
.maintitle{
margin-top: 250px;
align-content: center;
justify-content:space-between;
align-items:center;
text-align: center;
margin-bottom: 117px;
font-family: mynewfont;
}
.mh1{
    font-weight: bolder;
    font-size: 70px;
    font-family: kaffregular;
}
.mh3{
    font-family: kafflight;
    font-weight: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.btntitle{
    height: 82px;
    width: 310px;
    text-align: center;
    background-color: #FFDE17;
    color: #808285;
    box-shadow: 4px 4px 5px #B2B5B7;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    border: none;
    font-family: kaffregular; 
}
.button button{
    font-family: kafflight;
}
.btntitle1{
    font-family: mynewfont;
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #808285;
    color: #FFDE17;
    box-shadow: 5px 6px 18px #888888;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 45px;
    font-family: kaffregular;
    
}
.ln-btntitle{
     height: 50px;
    width: fixed;
    text-align: center;
    background-color: #FFDE17;
    color: #808285;
    box-shadow: 4px 4px 5px #B2B5B7;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    border: none;
    line-height: 50px;
    font-family: kaffregular;
}
.title p{
    font-family: kaffregular;
    text-align: center;
    margin: auto;
}
#home .body .artholders{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:6px;
margin-bottom: 180px;
flex-direction: row;
}
#home .body .artholders .item{
width:25%;
border:1px solid #9DA4AB;
border-radius:10px;
margin-bottom:30px;
margin-left: inherit;

}
#home .body .artholders .item.itemWidth50{
width:45%;
}

#home .body .artholders .item .pic{
width:100%;
height:200px;
background-color:#737B7F;
border-radius:10px 10px 0px 0px;
position:relative;
}
#home .body .artholders .item .pic .icon{
width:45px;
height:45px;
background-color:white;
border-radius:50%;
position:absolute;
top:184px;
left:20;
}

a{
    text-decoration: none!important;
}

#home .body .artholders .item .pic .icon.color50{
background-color:white;
}
#home .body .artholders .item .pic .icon.color25y{
background-color:white;
}
#home .body .artholders .item .div2{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C9CDD3;
}
#home .body .artholders .item .div2 .title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#home .body .artholders .item .div2 .day{
    font-size: 16px;
    text-align: right;
    color: silver;
    padding: 5px;
    font-weight: bold;
}
#home .body .artholders .item .div3{
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    margin-top: -5px;
    margin-bottom: -10px;
}
#home .body .artholders .item .div3 .button{
margin-left:10px;
}
#home .body .artholders .item .div3 .rightSide{
display:flex;
}
#home .body .artholders .item .div3 .rightSide .count{
padding-right:6px;
padding-top:5px;
color:#c7c2c2;
font-family: kaffregular;
}







#block1{
    margin-top: 35px; 
}
#block2{
    margin-top: 35px;
}
.high-five-s{
height:30px;
}
.btn{
background-color:#FADC2F;
border:none;
border-radius:2px;
padding:0 10px;
font-family:kaff;
font-weight:600;
font-size: 15;
height: 20px;
color: black;
text-align: center;
}
 .btn:hover ,.btn:focus , .btn:active{
color:black;
background-color:#FADC2F; 
outline:0;
}


.item{
    cursor: pointer;
}





/*SIGNUP*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding:20px;
    border: 1px solid #888;
    width: 453px;
    height:566px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.signup-h1-title{
font-size:21px;
font-family: kaffbold;
}
.signup-h2-title{
    font-size:21px;
    font-family: kaffregular;
    margin-top: 10px;
}




.signin-h1-title{
    font-size:21px;
    font-family: kaffbold;
    }
    .signin-h2-title{
        font-size:21px;
        font-family: kaffregular;
        margin-top: 10px;
    }

/* The Close Button */
.closee {
    width: 45px;
    height: 45px;
}

.closee:hover,
.closee:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.signup-top-part{
    text-align: center;
    margin-top: -17px;
    margin-bottom: 35px;

}
.signup-bottom-part{
    display: flex;
    flex-direction: column;
   
}
.signup-h3-title{
    font-size:11px;
    font-family: kaffregular;
    color:#808285;
    text-align: right;
    margin-right: 51px;

}
.signup-buttons{
    width: 200px;
    height: 70px;
    font-size: 21px;
    color: #808285;
    background-color:white;
    margin: auto;
    margin-bottom: 11px;
    text-align: center;
    width: 380px;
    height: 60px;
    background-size: 300px 60px;
    background-repeat: no-repeat;
    margin-left: 20px;
    position: relative;
    border: none;
}
.signp-div{border: 1px solid gray;
    margin-bottom: 10px;
    height: 65px;
    width: 405px;}
.popup-social-icons{
    position: absolute;
    right: 268px;
    height: 42px;
    width: 42px;
    top: 14px;
}
/*SIGNUP*/



/*SIGIN*/
.signin-top-part{
    text-align: center;
    margin-top: -17px;
    margin-bottom: 71px;

}
.signin-bottom-part{
    display: flex;
    flex-direction: column;
   
}
.signin-h3-title{
    font-size:11px;
    font-family: kaffregular;
    color:#808285;
    text-align: right;
    margin-right: 51px;

}
.signin-buttons{
    width:347px;
    height: 68px;
    font-size: 21px;
    color:#808285;
    background-color: #FADC2F;
    margin:auto;
    margin-bottom: 11px;
    font-family: kaffregular;
    text-align: center;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #B2B5B7;
}


.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding:20px;
    border: 1px solid #888;
    width: 453px;
    height:566px;
    directionsplay: flex;
    flex-direction: column;
    border-radius: 25px;
}



.storys{
display: flex;
position: relative;
align-content: center;
align-items:center;
text-align: center;
margin-bottom: 150px; 
margin-top:80px;  
}
.top{
    font-size: 21px;
    position: absolute;
    background-color: #FFDE17;
    z-index: 2;
    width: 1032px;
    border-radius: 7px;
    text-align: right;
    bottom: 0px;
    height: 141.2px;
    right: 0px;
}
.top-text{
    font-size: 28px;
    margin-right: 130px;
    margin-top: 23px;
    font-family: kaffregular;
}

.botom{
    position: absolute;
    font-size: 21px;
    z-index: 1;
    background-color: #939598;
    color: white;
    border-radius: 7px;
    text-align: right;
    width: 1234px;
    height: 155px;
    font-family: kaffregular;
}
.bottom-text{
    font-size: 28px;
    margin-top: 92px;
    margin-right: 28px;
    max-width: 100%;
}
.parhh3{
    border: none;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top:6px;
    margin-bottom: 175px;
    flex-direction: row;  
    }
    .parcontainer .num{
    position: relative;
    width:33%;
    margin-bottom:30px;  
    height: 300px;
    }
    .img-title{display: flex;justify-content: center;}
    .hash{
        position: ;
        right: 139px;
        width: 50;
        bottom: 180;
    
    }
    .spans{
    	margin-top: 30px;
        font-size: 28px;
        width: 70%;
        text-align: justify;
        margin-right: 130px;
        text-align: right;
        font-family: kafflight;
        
    }
    .h2t{
        margin-top: -2px;margin-right: 10px;
        font-size: 58.9px;
        font-family: kaffmedium;
        
    }

    
    .myBtn{width: 300px;font-size: 23px;margin-left: 30px;}




/* FOOTER */
.footer-top{
    background-color:#FFDE17;
    text-align:center;
    height:162px;
}
.footer-bottom{
    height:64px;
}

.footer-top-links-a1{
    margin-right:10px;
}
.footer-top-links-a2{
margin-right:8px;
}
.footer-top-links-a3{
    margin-right: 54px;
}

.footer-top-links ul{
    list-style-type: none;
    text-align:left;
   
   
}
.footer-top-links  li{
    font-family: kaffregular;
}

.footer-top-text ul{
    list-style-type: none;
    text-align:right;
    font-family: kaffregular;
}


.footer-top-links{
    display: flex;
    margin-top:28px;

}
.footer-top-image-icons{
    list-style-type: none;
    text-align:left;
 
}
.footer-top-image-icons li{
    margin-bottom: 3px;
  
}
.footer-top-text{
    margin-top:28px;
}
.footer-top-links li{
    margin-bottom: 9px;
}
.footer-top-text li{
    margin-bottom: 9px;
    font-size:21px;
}
.saraha-icon{
    width: 32px;
    height:22px;
    cursor: pointer;
}
.mail-icon{
    width: 32px;
    height:20px;
    margin-top:2px;
}
.location-icon{
height:25px;
margin-left: 5px;
margin-top:3px
}
.footer-top-links-right{
    margin-left:-62px;
}

.footer-bottom{
    background-color: #FDE756;
    
}

.eng-button{

    height: 28px;
    width: 52px;
    text-align: center;
    background-color: #808285;
    color: #FFDE17;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
   margin-top:15px;
   font-family: kaffmedium;
   margin-left: 34px;
}
.arabic-text-footer-bottom{
    font-size:21px;
    margin-top:15px;
    color: black;
    font-family: kaffmedium;
}
.footer-bottom-text{
    text-align: center;
}
.footer-bottom-social-icons{
    text-align: right;
}
.footer-bottom-social-icons img{
    height:27px;
    width:27px;
    margin-top:15px;
}
.footer-top-links-a2{
    font-family: kaff29;
    font-size:15.84px;
    color:black;   
    cursor: pointer; 
}
.footer-top-links-a1{
    font-family: kaff29;
    font-size:21px;
    color:black;
    cursor: pointer;
}
.footer-top-links-a3{
    font-family: kaff29;
    font-size:21px;
    color:black;
}
.footer-bottom-social-icons img{
    cursor: pointer;
}
.heart-icon{
    height:21px;
    margin-right: 2px;
    margin-left: 4px;
    margin-bottom: 6px;
}
a{
    color:black;
}
a :hover{
    color:black;
}

.pic {
    background-color: #737B7F;
    border-radius: 10px 10px 0px 0px;
    flex:2;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 0;
}
 .pica{
     width:100%;
     max-height:100%;
     border-radius: 10px 10px 0px 0px;
 }
.tac-title{font-family:kaffbold;direction: rtl;font-size:90.96pt;margin-top:226.68px;text-align: center;}
.tac-sub-title{font-family:kaffmedium;direction: rtl;font-size:36pt;margin-top:50px;margin-bottom:30px;}
.tac-text{direction: rtl;font-family:kafflight;font-size:25px;line-height:43pt;}  
.sp-title{font-family:kaffbold;direction: rtl;font-size:90.96pt;margin-top:226.68px;text-align: center;}
.sp-sub-title{font-family:kaffmedium;direction: rtl;font-size:36pt;margin-top:100px;margin-bottom:58.047244094px;}
.sp-text{direction: rtl;font-family:kafflight;font-size:25px;line-height:43pt;}
.p-title{}
.p-sub-title{}
.p-text{}
.mr96{margin-right: 100px;}
.marginb20{margin-bottom: 20px;}
.marginel110{margin-left: 110px;}
.textaline-c{text-align: center;}
.mr50{margin-right: -50px;}
a:hover { 
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.parcontainer{ display: flex;margin-bottom: 200px;justify-content: center;}
#menu{display: none;}
.img-title2{display: none;}
.footer2{display: none;}
.dis-non{display: none;}
.dis-non2{display: none;}
.mrl30{margin-left: 30%;}




/*theme*/


















.th-container{
width:89%;
max-width:100%;
}
#th-logo{
height:50px;
position:relative;
display:flex;
cursor:pointer;
}
#th-hello{
    font-family: kaffregular;
    color:#737B7F;
}
#th-home .th-header{
display:flex;
justify-content:center;
border-bottom:0.2px solid #9DA4AB;
margin-bottom:15px;
height:70px;
align-items:center;
background-color: #FBDD2F;
}
#th-home .th-header .th-holders{
display:flex;
justify-content:space-between;
align-items:center;

}
#th-title{
/*flex: auto;*/
display: flex;
/*justify-content: space-between;
flex-wrap: wrap;*/   
width:89%; 
margin: auto;
}
#th-go{
background-color:#FADC2F;
border:none;
padding:0 20px;
margin:3px 10px 5px 3px;
font-weight:540;
width:100px;
height: 30px;
border-radius: 7px;
color: #737B7F;
font-weight: bold;
position:relative;
font-family:MyriadArabicBold;
font-size: 20px;
}
#th-sub{
display: flex;  
justify-content: flex-end;
color:#5D6567;
font-size: 22px;
margin: auto;
font-weight: 100;
font-family: kaffregular;
width: 89%;
max-width: 89%;
margin-right: 105px;
}
#th-share{
font-weight: 550;
color:#5D6567;
font-family: kaffmedium;
}
#th-hash{
position: relative;
top: 20px;
height: 22px;
}
#th-dotted{
margin: auto;
max-width: 89%;
border:2px dashed #B2B5B7;
height: fixed;
margin-top: 30px;
border-radius: 10px;  
font-family: MAR;
}
#th-theme-choice{
height: fixed;
margin: auto;   
max-width: 89%;
display:flex;
flex-flow:wrap-reverse;
justify-content: center;
text-align: center;
border:1.5px solid #B2B5B7; 
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;
padding-top: 25px;
}
.th-themebutton{
margin-top: 5px;
height: 35px;
width: 120px;
border-radius: 13px;
margin-left: 10px;
border: none;
box-shadow: 1px 2px 9px #5D6567;
font-weight: 560;
background-color:#FADC2F;
z-index: 0;
}
#th-topic-choice{
margin: auto;
border: 1.5px solid #B2B5B7; 
max-width: 89%;
width: 89%;
height: 230px;
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;
display: none;
}
.th-themebutton2{
margin-top: 5px;
height: 45px;
width: 110px;
border-radius: 13px;
margin-left: 10px;
border: 1px solid black;
font-weight: 560;
background-color: white;
}
.th-themebutton2:hover{
    background-color:#FADC2F;
}
.th-lines{
font-family: kaffregular;
font-size: 20px;
width: fixed;
}
.th-div-dotted{display: flex;flex-flow: row wrap;justify-content: flex-end; padding-bottom: 40px;margin-top: 30px;margin-right: 8px;margin-left: 20px;}
.th-div2{height:25px;width:fixed;background-color:#FFDE17;font-size: 20px;font-weight: bold;margin-right: 20px;line-height: 25px;}
.th-tags{display: none;margin-bottom: 10px;}
.div3{display: flex; margin-right:50px;justify-content: flex-end;flex-flow: row wrap; margin-top: 20px;font-family: kaffregular;font-size: 15px;}
.mr64{position: absolute;margin-top: -5px;margin-left: -5px;}
#myModal-menu10{ width: 100%;height: 100%;background-color: white;text-align: center;position: fixed;z-index: 4;top: 95;}
.icon-text{display: flex;}
.linegray{width: fixed;background-color: gray;height: 2px;}
.menu-text{text-decoration: none;color: #ffdd21;font-size: 25px;font-family:kaffregular; 
}
.ptpb20{padding-top:10px;padding-bottom:10px;}    















/*default*/



















.sb-container{
width:89%;
max-width:100%;
}
.sb-high-five3{
height:30px;
}
.sb-logo{
height:50px;
position:relative;
display:flex;
cursor:pointer;
}   
.sb-btn{
background-color:#FADC2F;
border:none;
border-radius:2px;
padding:0 20px;
font-family: kafflight;
font-weight:600;
font-size: 15;
width:70px;
height: 20px;
color: black;
}


.sb-headerb{
    margin: 2px 2px 2px 2px;
}
 .sb-btn:hover ,.sb-btn:focus , .sb-btn:active{
color:black;
background-color:#FADC2F; 
outline:0;
}
.sb-box3alamak{
right:15px;
position:absolute;
top:77px;
z-index:2;
background-color:#fff;
box-shadow:2px 2px 3px 1px #f5f4f4;
padding:10px;
width:fixed;
display: none;
}
.sb-box3alamak .sb-dashedBorder{
display: flex;
flex-direction: column;
border:2px dashed #b1b3b5;
align-items:center;
width:fixed;
}
.sb-box3alamak .sb-dashedBorder .sb-button{
display: flex;
flex-wrap:wrap-reverse;
margin-top:10px;
width:200px;
}
.sb-box3alamak .sb-dashedBorder .sb-button .sb-item{
display:flex;
flex-wrap:wrap-reverse;
justify-content:center;
width:200px;

}
.sb-box3alamak .sb-dashedBorder .sb-addimg{
margin-top:5px;
margin-right:10;
margin-bottom:5px;
}
.triangle-with-shadow{
width:100px;
height:80px;
position:absolute;
overflow:hidden;
top:-2px;
right:90px;
z-index:3;
}
.triangle-with-shadow:after{
content:"";
position:absolute;
width:50px;
height:50px;
background:#fff;
transform:rotate(45deg);
top:75px;
left:25px;
box-shadow:-1px -1px 1.5px -2px rgba(0,0,0,0.5);
z-index:2;
}
#sb-home .sb-header{
display:flex;
justify-content:center;
border-bottom:0.5px solid #B2B5B7;
margin-bottom:15px;
height:60px;
align-items:center;
}
#sb-home .sb-header .sb-holders{
display:flex;
justify-content:space-between;
align-items:center;
}
#sb-home .sb-header .sb-holders .sb-title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#sb-home .sb-header .sb-holders .sb-logout{	
	position: absolute;	
	top: 70;
	left: 0;

}
#sb-home .sb-header .sb-holders .sb-logout .sb-pic{
	position: absolute;
	z-index: 1;
    width: 215px;
    height: 50px;
    display: none;
    cursor: pointer;
    background-color: white;
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
    font-family: kaffregular;
    font-weight: bold;
    font-size: 20px;
    border:none;
}
.sb-yellowbox{display: none; height: 30px;width: 4px;background-color: #FFDE17;position: absolute;
	z-index: 2;left: 213;top: 6;}
.sb-img{display: none;position: absolute;z-index: 2;left: 180;top: 15;}
#sb-home .sb-body{
display:flex;
justify-content:center;
}
#sb-home .sb-body .sb-holders{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:6px;
}
#sb-home .sb-body .sb-holders .sb-item{
width:25%;
border:1px solid #9DA4AB;
border-radius:10px;
margin-bottom:30px;
}
#sb-home .sb-body .sb-holders .sb-item.sb-itemWidth50{
width:45%;
}
#sb-home .sb-body .sb-holders .sb-item .sb-pic{
width:100%;
height:200px;
background-color:#737B7F;
border-radius:10px 10px 0px 0px;
position:relative;
}
#sb-home .sb-body .sb-holders .sb-item .sb-pic .sb-icon{
width:45px;
height:45px;
background-color:#08a050;
border-radius:50%;
position:absolute;
top:184px;
left:20;
}
#sb-home .sb-body .sb-holders .sb-item .sb-pic .sb-icon.sb-color50{
background-color:#00b3c3;
}
#sb-home .sb-body .sb-holders .sb-item .sb-pic .sb-icon.sb-color25y{
background-color:#FADC2F;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div2{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C9CDD3;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div2 .sb-title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div2 .sb-day{
    font-size: 16px;
    text-align: right;
    color: silver;
    padding: 5px;
    font-weight: bold;
    font-family: kaffregular;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div3{
display:flex;
justify-content:space-between;
padding:18px 0px;
margin-top: -5px;
margin-bottom: -10px;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div3 .sb-button{
margin-left:10px;
font-family: kafflight;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div3 .sb-rightSide{
display:flex;
}
#sb-home .sb-body .sb-holders .sb-item .sb-div3 .sb-rightSide .sb-count{
padding-right:6px;
padding-top:5px;
color:#c7c2c2;
font-family: kaffregular;
}


.sb-title p {
  
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: kafflight;
}


#sb-aalamak{
    font-weight: bold;
    color: #9DA4AB;
    box-shadow: 2px 2px 4px #B2B5B7;
    height: 35px;
    width: 115px;
    border-radius: 7px;
    text-align: center;
    background-color: #FFDE17;
    border: none;
    font-size: 21px;
    font-family: kafflight;
    cursor: pointer;
}
.active{font-weight:bold;}






/*english page*/
.mt150{margin-top: 150px;}
.en-p1{font-family: kaffbold;font-size: 100px; text-align: center;}
.en-p2{font-family: kaffregular;font-size: 50px;text-align: center;}
.en-p3{font-family: kaffmedium;font-size: 19px;text-align: center;}
.en-div1{text-align: center;margin-top: 50px;margin-bottom: 50px;}
.mb50{margin-bottom: 50px;}
.en-div2{width: 270px;height: 40px;background-color:#FFDE17; margin-bottom: 35px;}
.en-p4{font-family: kaffbold;font-size: 22px;margin-left: 80px;line-height: 40px;}
.en-div3{margin-left: 90px;font-family: kaffregular;font-size: 22px;width:88%;max-width: 88%;margin: auto;}
.en-div4{font-family: kaffbold;font-size:22px;margin-top: 30px;margin-bottom: 30px;color: gray;}
.en-div5{width: 260px;height: 40px;background-color:#FFDE17; margin-bottom: 35px;}
.en-div6{margin-left: 90px;font-family: kaffregular;font-size: 22px;width:88%;max-width: 88%;margin: auto;}
.en-div7{width: 275px;height: 40px;background-color:#FFDE17; margin-bottom: 35px;}
.en-div8{font-family: kaffmedium;font-size: 24px;}
.ml19{margin-left: 19px;}
.ml15{margin-left: 15px;}
.en-div9{width: 230px;height: 40px;background-color:#FFDE17; margin-bottom: 35px;}
.en-div10{font-family: kaffbold;font-size:22px;margin-top: 30px;margin-bottom: 30px;color: gray;}
.en-div11{width: 430px;height: 40px;background-color:#FFDE17; margin-bottom: 35px;}
.font-weight-b{font-weight: bold;}
.en-div12{text-align: center;margin-top: 70px;}
.en-div13{font-family: kaffbold;font-size: 40px;}
.mr10{margin-right: 10px;}
.border-r50{border-radius: 50%;}
.en-div14{font-family: kaffregular;font-size: 22px;margin-top: 50px;}
ol > li {
 
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}
ol > li:before {
  
  font-weight: bold;
  content: counter(item)"";
}


.ma-div4n{display: none;}
/*english page*/
.ln-div1{width:89%;max-width: 89%;direction: rtl;margin-top:226.68px;text-align: center;}
.ln-div2{font-size: 110px;font-family:kaffbold;text-align: center;}
.ln-div3{text-align: center;margin-top: 50px;margin-bottom: 50px;}
.ln-div4{font-family: kaffmedium;font-size:30px ;margin-top: 20px;line-height:43pt;}
.mt60{margin-top:60px;}
.ln-div5{text-align: center;font-family: kaffmedium;font-size: 25px; margin-top: 100px;}
.mb80{margin-bottom: 80px;}
.text-align-c{text-align: center;}
.ln-div6{text-align: center;margin-bottom: 50px;margin-top: 50px;font-weight: bold;}
.ln-div7{display: inline-block;text-align: center;font-family: kaffregular;}
.mb20{margin-bottom: 20px;}
.display-ib{display: inline-block;font-family: kaffregular;}
.h160{height: 160px;}
.bc-1{background:#FFDE17;}
.mb1{margin-bottom: 1px;}
.mb6{margin-bottom: 6px;}
.ln-div8{}
.img-size{height: 700px;width: 700px;}

/*man antoum*/
.ma-div1{position: fixed;width: 100%;z-index: 5;top: 0;}
.ma-div2{width:89%;max-width: 89%;direction: rtl;margin-top:226.68px;}
.ma-div3{font-size: 121.28px;font-family:kaffbold;text-align: center;}
.ma-title{font-family: kaffmedium;font-size: 50px;margin-top: 60px;}
.ma-text{font-family: kafflight;font-size:25px ;margin-top: 20px;line-height:60px;}
.ma-sub-title{margin-top: 60px;font-family: kaffmedium;font-size: 50px;margin-bottom: 20px;}
.ma-div4{margin-bottom: 100px; direction: rtl;}
.ma-div5{height: 75px;width: 75%;background-color: #FFDE17;z-index: 3;border-radius: 10px 0 0 10px;position: relative;align-items: center;}
.ma-div6{font-size: 21px;font-family: kaffregular;line-height: 75px;}
.ma-span1{font-size: 36px;font-family:kaffmedium;margin-right: 90px;margin-left:5px;}
.ma-div7{height: 90px;width: 75%;background-color: #939598;margin-top: -10px;border-radius: 0 10px 10px 0;z-index:2;position: relative;float: left;}
.ma-div8{font-size: 21px;font-family: kaffregular;line-height: 90px;color: white;}
.ma-div9{font-size: 36px;font-family:kaffmedium;margin-right: 430px;margin-left:5px;}
.ma-div10{height: 100px;width: 85%;background-color: #FFDE17;border-radius: 10px;margin-top:-20px;z-index: 0;position: relative;float: left;}
.ma-div11{font-size: 21px;font-family: kaffregular;line-height: 100px;}
.ma-span2{font-size: 36px;font-family:kaffmedium;margin-right: 150px;margin-left:5px;}
.ma-div12{height: 60px;width: 95%;background-color: #939598;float: right;border-radius: 10px 0 0 10px;margin-top: -2px;z-index: 1;position: relative;}
.ma-div13{font-size: 21px;font-family: kaffregular;color: white;margin-right: 90px;line-height: 60px;}
.ma-span3{font-size: 36px;font-family:kaffmedium;margin-left:5px;}
.ma-div14{height: 90px;width: 75%;background-color: #FFDE17;border-radius: 10px;border-radius: 0 10px 10px 0;float: left;z-index: 0;position: relative;margin-top: -10px;}
.ma-div15{font-size: 21px;font-family: kaffregular;line-height:90px;margin-right: 20px;}
.ma-div16{direction: rtl;text-align: center;margin-bottom: 100px;}
.ma-div17{font-size: 50px;font-family: kaffmedium;margin-bottom: 50px;}
.ma-div18{font-size: 30px;font-family: kaffregular;margin-bottom: 50px;}
.pl10{padding-left: 10px;}

/*shno ya3ny*/
/*@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}*/
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
  margin-left:-30px;margin-top:-2px;
}
.sy-div1{font-size: 121.28px;font-family:kaffbold;text-align: center;}
.sy-div2{font-family: kaffmedium;display: flex;justify-content: center;margin-top: 30px;font-size: 30px;}
.sy-div3{text-align: center;margin-top: 50px;margin-bottom: 50px;}
.sy-div4{font-family: kaffregular;font-size:25px ;margin-top: 20px;line-height:50px; text-align: right;}
.sy-div5{font-family:kafflight;font-size: 27px;margin-top: 10px;text-align: right;margin-right: -50px;margin-bottom: 50px;}
.sy-div6{max-width: 100%;display: flex;justify-content: flex-end;margin-top: 50px;margin-bottom: 50px;}
.sy-div7{width: 220px;height: 50px;background-color:#FFDE17;display: flex;justify-content: center;font-size: 22px;font-family:kaffregular;line-height: 50px;padding-right: 75px;font-weight: bold;}
.sy-div8{width:89%;max-width: 89%;direction: rtl;margin-right: 130px;}
.sy-ol{margin: 0;padding: 0; font-family:kafflight;font-size: 27px;line-height: 60px;}
ol .sy-ol {
  counter-reset: item;
}
ol .sy-ol > li {
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}
ol .sy-ol > li:before {
  font-weight: bold;
  content: counter(item) ;
}
.sy-div9{width:89%;max-width: 89%;margin: auto;text-align: center;position: relative;}
.sy-div10{font-family: kaffmedium; font-size: 27px;margin-top: 50px;margin-bottom: 50px;direction: rtl;}
.sy-input{width: 300px;height: 40px;border:2px solid #FFDE17;margin-bottom: 100px;border-radius: 10px;padding-top:10px; }
.day{font-family: kaffregular;}
.hide{display: none;}



.ls-logo{padding-top: 90px;position: relative; padding-bottom: 80px;margin-left: 460px;}
.ls-img1{position: absolute;left: 50px;display: none;}
.ls-img2{position: absolute;left: 160px;display: none;}
.ls-img3{position: absolute;left: 270px;display: none;}
.ls-dynamictext{display: flex;margin-top: 150px;width: 100%;justify-content: center;}
.ls-yellowline{background-color: #ffdd34;height: 5px;width: 150px;margin-right: 10px;}
.ls-text1{text-align: center; font-size: 60px;direction: rtl;margin-top:-50px;font-family: kafflight;font-weight: bold;color:#a0a6ab;}
.ls-footer{width: 100%; display: flex;justify-content: center;position: absolute;}
.ls-signature{height: 50px;width: 300px;background-color: #a0a6ab;color:#ffdd34;font-size: 30px;text-align: center;line-height: 50px;font-family: kaffregular;position: fixed;bottom:0 ;}

/* The Modal (background) */
.disp-none{display: none;}
.ooi-modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ooi-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.ooi-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ooi-close:hover,
.ooi-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ooi-modelss{
   /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
}

/* Modal Content */
.ooi-modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.ooi-close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  #img-milleworld{height: 200px;}
  #img-chemistry{height: 200px;}
  #img-jadaliyaa{height: 200px;}
  #img-ma3azef{height: 200px;}
  #img-wamda{height: 200px;}
  #img-jamalouki{height: 200px;}
  #img-sohati{height: 200px;}
  #img-daraj{height: 200px;}
  #img-mariecal{height: 200px;}
  .button{text-align:center; }
  #home .body .artholders .item .div3{
    width: 100%;
    display: inline-block;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: -10px;}
    #home .body .artholders .item .div3 .rightSide{
display:flex;width: 100%;justify-content: center;padding-top: 10px;
}
#home .body .artholders .item .div3 .rightSide .count{
padding-right:10px;
padding-top:5px;
color:#c7c2c2;
font-family: kaffregular;
}
.storys{
display: flex;
position: relative;
align-content: center;
align-items:center;
text-align: center;
margin-bottom: 150px; 
margin-top:80px;  
}
.top{
    font-size: 21px;
    position: absolute;
    background-color: #FFDE17;
    z-index: 2;
    width: 768px;
    border-radius: 7px;
    text-align: right;
    bottom: 0px;
    height: 141.2px;
    right:0px;
}
.top-text{
    font-size: 28px;
    margin-right: 80px;
    margin-top: 23px;
    font-family: kaffregular;
}

.botom{
    position: absolute;
    font-size: 21px;
    z-index: 1;
    background-color: #939598;
    color: white;
    border-radius: 7px;
    text-align: right;
    width: 768px;
    height: 175px;
    font-family: kaffregular;
}
.bottom-text{
    font-size: 28px;
    margin-top: 92px;
    margin-right: 28px;
}
.parcontainer .num{
    position: relative;
    width:33%;
    margin-bottom:30px;  
    height: 300px;
    }
    .img-title{display: flex;justify-content: center;}
    .hash{
        position: ;
        right: 139px;
        width: 50;
        bottom: 180;
    
    }
    .spans{
    	margin-top: 30px;
        font-size: 23px;
        width: 70%;
        text-align: justify;
        margin-right: 130px;
        text-align: right;
        font-family: kafflight;
        
    }
    .h2t{
        margin-top: -2px;margin-right: 10px;
        font-size: 58.9px;
        font-family: kaffmedium;
        
    }
    .myBtn{width: 200px;font-size: 17px;margin-left: 30px;}

    /*english page*/
    .en-p4{font-family: kaffbold;font-size: 22px;margin-left: 60px;line-height: 40px;}
    /*man antoum page*/

    .ma-span1{font-size: 36px;font-family:kaffmedium;margin-right: 70px;margin-left:5px;}
    .sy-div7{padding-right: 40px;}
    .tac-title{font-size:70.96pt;}
    .sp-title{font-size:70.96pt;}
    .arabic-text-footer-bottom{
    font-size:18px;
    margin-top:15px;
    color: black;
    font-family: kaffmedium;
    padding-left: 50px;
}

}
@media only screen and (max-width: 667px) {
.header{display: none;}
#fh3{display:none ;}
#alamak{display: none;}
.hh3{display: none;}
#logo{display: none;}
#menu{display: inline;}
.storys{
display: inline;
position: relative;
align-content: center;
align-items:center;
text-align: center;
margin-bottom: 150px; 
margin-top:0px;  
}
.top{
    font-size: 21px;
    position: relative;
    background-color: #FFDE17;
    z-index: 1;
    width: 100%;
    border-radius: 7px;
    text-align: right;
    bottom: 0px;
    height: 155px;
    right: -1px;  
}
.top-text{
	display: flex;
	flex-flow: wrap;
    font-size: 20px;
    margin-right: 0px;
    padding-right: 10px;
    padding-top: 30px;
    font-family: kaffregular;
}
.botom{
    position: relative;
    font-size: 21px;
    z-index: 1;
    background-color: #939598;
    color: white;
    border-radius: 7px;
    text-align: right;
    width: 100%;
    height: 155px;
    font-family: kaffregular;
    top: -92;
}
.bottom-text{
    font-size: 20px;
    padding-top: 40px;
    margin-right: 0px;
    padding-right: 10px;
}
.parcontainer{ display: inline;margin-bottom: 200px;justify-content: center;}
.parcontainer .num{
    position: relative;
    width: 80%;
    margin-bottom:1px;  
    height: 300px;
    margin-left: 10px;
    }
    .img-title{display: flex;justify-content: center;padding-left: 60px;}
    .hash{
        
        width: 50;
        
    
    }
    .spans{
    	padding-top: 0px;
        font-size: 20px;
        width: 100%;
        text-align: justify;
        margin-right: 130px;
        text-align: right;
        font-family: kafflight;
        
        
    }
    .h2t{
        margin-top: -2px;margin-right: 10px;
        font-size: 58.9px;
        font-family: kaffmedium;
        
    }
    #footer{display: none;}
    .footer2{ display: flex;justify-content: center;margin-bottom: 20px;margin-top: 20px;}
    .img-title2{display: flex;justify-content: center;}
    .location-icon{margin-right: 10px;}
    .footer-top-links-a3{
    margin-right: 0px;
    font-family: kaff29;
    font-size:21px;
    color:black;
    margin-bottom: 10px;
}
.dis-non{display: flex;justify-content: center;}

.arabic-text-footer-bottom{
    font-size:16px;
    margin-top:15px;
    color: black;
    font-family: kaffmedium;
    padding-left: 0px;
}
.artcle-non{display:none;}
.artcle-in{display: inline;}
#home .body .artholders{ }	
.btntitle{
    height: 82px;
    width: 250px;
    text-align: center;
    background-color: #FFDE17;
    color: #808285;
    box-shadow: 4px 4px 5px #B2B5B7;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    border: none;
    font-family: kaffregular; 
}
#home .body .artholders .item{
position: absolute;
width:80%;
border:1px solid #9DA4AB;
border-radius:10px;
margin-bottom:0px;
margin-left: 0px;
height: 450px;
}
#home .body .artholders .item.itemWidth50{
width:80%;
}
#home .body .artholders .item .pic{
width:100%;
height:150px;
background-color:#737B7F;
border-radius:10px 10px 0px 0px;
position:relative;
}
#home .body .artholders .item .pic .icon{
width:45px;
height:45px;
background-color:white;
border-radius:50%;
position:absolute;
top:134px;
left:20;
}

a{
    text-decoration: none!important;
}

#home .body .artholders .item .pic .icon.color50{
background-color:white;
}
#home .body .artholders .item .pic .icon.color25y{
background-color:white;
}
#home .body .artholders .item .div2{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C9CDD3;
}
#home .body .artholders .item .div2 .title{
    font-family: kaff;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    height: 150px;
    display: flex;
}
#home .body .artholders .item .div2 .day{
    font-size: 16px;
    text-align: right;
    color: silver;
    padding: 5px;
    font-weight: bold;
}
#home .body .artholders .item .div3{
    display: flex;
    justify-content: center;
    padding: 18px 0px;
    margin-top: -5px;
    margin-bottom: -10px;
}
#home .body .artholders .item .div3 .button{
margin-left:0px;

}
#home .body .artholders .item .div3 .rightSide{
display:flex;
margin-right: 10px;
}
#home .body .artholders .item .div3 .rightSide .count{
padding-right:6px;
padding-top:5px;
color:#c7c2c2;
font-family: kaffregular;
}

#slider{position: relative;width: 100%;height: 600px;}
.slide{position: absolute;width: 100%;height: 100%;display: none;}
.slide.active{display: block;}
#leftarrow{position: absolute;left: 5px;font-size: 22px;cursor: pointer;}
#rightarrow{position: absolute;right: 5px;font-size: 22px;cursor: pointer;}
.mrt400{margin-top: 400px;}
.ln-div2{font-size: 60px;font-family:kaffbold;text-align: center;}
.img-size{height: 300px;width: 100%;}
.ma-title{font-family: kaffmedium;font-size: 30px;margin-top: 60px;}
.ma-text{font-family: kafflight;font-size:20px ;margin-top: 20px;line-height:60px;}
.ma-sub-title{margin-top: 60px;font-family: kaffmedium;font-size: 30px;margin-bottom: 20px;}
.ma-div5{height: 130px;width: 100%;background-color: #FFDE17;z-index: 3;border-radius: 0;position: relative;align-items: center;}
.ma-div7{height: 100px;width: 100%;background-color: #939598;margin-top:0px;border-radius: 0;z-index:2;position: relative;float: left;}
.ma-div10{height: 120px;width: 100%;background-color: #FFDE17;border-radius: 0px;margin-top:0px;z-index: 0;position: relative;float: left;}
.ma-div12{height: 110px;width: 100%;background-color: #939598;float: right;border-radius: 0px;margin-top: 0px;z-index: 1;position: relative;}
.ma-div14{height: 90px;width: 100%;background-color: #FFDE17;border-radius: 0px;float: left;z-index: 0;position: relative;margin-top: 0px;}

.ma-span1{ font-size: 30px;font-family:kaffmedium;margin-right:0px;margin-left:0px;}
.ma-span1:after {
    content:"\a";
    white-space: pre;
}
.ma-div6{font-size: 21px;font-family: kaffregular;line-height: 50px;margin-right:35px;}
.fab-twit{display: none;}
.en-p1{font-size: 60px;}
.en-p2{font-size:30px; }
.en-p4{font-family: kaffbold;font-size: 22px;margin-left: 18px;line-height: 40px;}
.en-div11{width: 250px;height: 80px;background-color:#FFDE17; margin-bottom: 35px;}
.en-div13{display: none;}
.folowus{display: none;}
.font-weight-b{font-size: 20px;}
.sy-div4{font-family: kaffregular;font-size:20px ;margin-top: 20px;line-height:50px; text-align: right;}
.sy-div7{width: 220px;height: 50px;background-color:#FFDE17;display: flex;justify-content: flex-end;font-size: 22px;font-family:kaffregular;line-height: 50px;padding-right: 30px;font-weight: bold;}
.sy-div5{font-size: 20px;}
.sy-ol{margin: 0;padding: 0;padding-right: 30px; font-family:kafflight;font-size: 20px;line-height: 60px;}
.sy-input{width: 200px;height: 40px;border:2px solid #FFDE17;margin-bottom: 100px;border-radius: 10px;padding-top:10px;}
.ma-div8{font-size: 21px;font-family: kaffregular;line-height: 50px;color: white;margin-right: 35px;}
.ma-div9{font-size: 30px;font-family:kaffmedium;margin-right:0px;;margin-left:0px;}
.ma-div9:after {
    content:"\a";
    white-space: pre;
}
.ma-span2{font-size: 30px;font-family:kaffmedium;margin-right:0px;margin-left:0px;}
.ma-span2:after {
    content:"\a";
    white-space: pre;
}
.ma-span3{font-size: 30px;font-family:kaffmedium;margin-left:0px;margin-right:0px;}
.ma-span3:after {
    content:"\a";
    white-space: pre;
}
.ma-div13{font-size: 21px;font-family: kaffregular;color: white;margin-right: 35px;line-height: 60px;}
.ma-div15{font-size: 21px;font-family: kaffregular;line-height:50px;margin-right: 35px;}
.ma-div14{height: 200px;width: 100%;background-color: #FFDE17;border-radius: 0px;float: left;z-index: 0;position: relative;margin-top: 0px;}
.ma-div11{font-size: 21px;font-family: kaffregular;line-height: 50px;margin-right: 35px;}
.ma-div17{display: none;}
.ma-div18{display: none;}
.ma-div4n{display: inline-block;}
.ma-div4{display: none;}
.ma-div12{height: 120px;width: 100%;background-color: #939598;float: right;border-radius: 0px;margin-top: 0px;z-index: 1;position: relative;}
.ma-textyg{text-align: center;width: 100%;font-size: 25px;font-family: kaffregular;direction: rtl;}