@font-face{
   font-family: 'kaff';
    src: url('29lt_kaff-webfont.ttf') format('truetype'),
    url('._29LT Kaff-Regular.OTF')
    format('OpenType'),
    url('29lt_kaff-webfont.woff') format('woff'),
    url('29lt_kaff-webfont.woff2') format('woff2'),
    url('29LTKaff-Regular.eot'),
    url('29LTKaff-Regular.eot?#iefix') format('embedded-opentype'),
    url('29LTKaff-Regular.svg#29LTKaff-Regular') format('svg'),
    url('29LTKaff-Regular.svg') format('svg');
    font-style: normal;
}
*{
box-sizing:border-box;
font-family: kaff;
font-weight: bold;
}
html,body{
margin:0;
padding:0;
width:100%;
height:100%;
font-family: kaff;
}
.th-container{
width:89%;
max-width:100%;
}
#th-home .th-header{
display:flex;
justify-content:center;
border-bottom:0.2px solid #9DA4AB;
margin-bottom:15px;
height:70px;
align-items:center;
background-color: #FBDD2F;
}
#th-home .th-header .th-holders{
display:flex;
justify-content:space-between;
align-items:center;
max-width: 97%;
}
#th-logo{
height:50px;
position:relative;
display:flex;
cursor:pointer;
}
#th-hello{
    
    color:#737B7F;
}
#th-home .th-body{
display:flex;
justify-content:center;
}
#th-home .th-body .th-holders{
justify-content:space-between;
margin-top:6px;
}
#th-title{
flex: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 0.7cm;    
width: 100%;   
}
#th-go{
background-color:#FADC2F;
border:none;
padding:0 20px;
margin:3px 10px 5px 3px;
font-family:kaff;
font-weight:540;
font-size: 20;
width:90px;
height: 30px;
color: black;
right: 160;
border-radius: 7px;
color: #737B7F;
font-weight: bold;
position:relative;
box-shadow: 6px 6px 6px #B2B5B7;
}
 .th-btn:hover ,.th-btn:focus , .th-btn:active{
color:black;
background-color:#FADC2F; 
outline:0;
}
#th-hash{
position:relative;
left:910px; 
height: 22px;
}
#th-share{
display: inline;
position: relative;
left:600px;
bottom: 20px;
font-weight: 550;
color:#5D6567;
}
#th-sub{
position: relative;
top: 30px;
right: -100px;
color:#5D6567;
font-size: 18;
font-weight: 100;
}
#th-dotted{
max-width: 98%;
border:2px dashed #B2B5B7;
display:flex;
flex-direction:column;
align-items:center;
height: 120px;
margin-top: 30px;
border-radius: 10px;  
}
#th-theme-choice{
max-width: 98%;
display:flex;
flex-direction:column;
align-items:center;
border:1.5px solid #B2B5B7; 
height: 200px;
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;
}
.th-lines{
justify-content:center;  
flex-direction:column;
align-items:center;
width: 100%;
margin-top: 17px;
height: 31%;
align-content: center;
position: relative;
margin-left: 30px;
margin-bottom: -10px;
}
.th-pic{

margin-left: 10px;
height: 35px;
width: 150px;
position: relative;
z-index: 1;
}
#th-final{
margin-top: 2px;
max-width: 50%;
left: 60;

}
.th-themebutton{
margin-top: 5px;
background-color: #FADC2F;
height: 35px;
width: 150px;
border-radius: 13px;
margin-left: 10px;
border: none;
box-shadow: 1px 2px 9px #5D6567;
font-weight: 560;

}
.th-butt{ 
position: relative;
bottom: 40;
z-index: 2;
}
#topic-choice{
border: 1.5px solid #B2B5B7; 
max-width: 98%;
display:flex;
flex-direction:column;
align-items:center;
height: 150px;
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;

}